.articleTag {
    text-align: center;
}

.articleCard {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: ghostwhite;
}

.onPage {
    text-align: center;
    vertical-align: middle;
}